.cajon1{
    background:#CC6600;
    width: 860px;
    height: 600px;
    padding-left: 30px;
    padding-top: 30px;
}
.cajon2{
    background:#000FFF;
    width: 860px;
    height: 600px;
    
    padding-left: 30px;
    padding-top: 30px;
}